@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  height: 8px;
  width: 130px;
  background-color: #D0D0D0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.bar {
  position: relative;
  width: 30%;
  height: 8px;
  background-color: white;
  border-radius: 10px;
  animation: loadingBar 2s linear infinite;
}

@keyframes loadingBar {
  0% { left: -30% }
  100% {left: 130%}
}